body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #AEAEAE;
}

header {
    background-color: #009A44;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    position: relative;
    margin: 0;
}

header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

header p {
    position: relative;
    font-size: 1.2em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    text-align: center;
}

li img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

#download {
    text-align: center;
    margin-bottom: 100px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF671F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

footer {
    background-color: #009A44;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
