* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #009A44;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 100px;
    border-radius: 50%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #ddd;
}

.section {
    padding: 40px;
    text-align: center;
}

#features h2, #download h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2e3b4e;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.feature-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: translateY(-10px);
}

.feature-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.download-section {
    background-color: #009A44;
    color: white;
    padding: 50px;
}

.download-button {
    display: inline-block;
    background-color: #ff6347;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #e55340;
}

footer {
    background-color: #009A44;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
